apiVersion: apps/v1
kind: Deployment
metadata:
  name: trip-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trip-service
  template:
    metadata:
      labels:
        app: trip-service
    spec:
      containers:
        - name: trip-service
          image: ride-sharing/trip-service
          ports:
            - containerPort: 8083
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
            env:
            # Accessing an env variable from the app-config config map
            - name: TRIP_HTTP_ADDR
              valueFrom:
                configMapKeyRef:
                  key: TRIP_HTTP_ADDR
                  name: app-config
---
apiVersion: v1
kind: Service
metadata:
  name: trip-service
spec:
  selector:
    app: trip-service
  ports:
    - port: 8083
      name: http
      targetPort: 8083
  type: ClusterIP
